In [2]:
import pandas as pd
import numpy as np
import math as mt

In [29]:
#reading Datasets
JoiningStatus= JS = pd.read_csv (r'C:\Users\mohkt\Desktop\AI Academy\Project\Capstone4_HRData\Joining_Status.csv')
data = pd.read_csv (r'C:\Users\mohkt\Desktop\AI Academy\Project\Capstone4_HRData\HR_Hiring_details_transaction.csv')

In [7]:
#Checking for null values
JS.isnull().sum()

Candidate_Ref    0
Status           0
dtype: int64

In [24]:
#Taking Count
x =JS.Status.count()
y = JS['Status'].value_counts().Joined
print(x,y)

8995 7313

In [26]:
#
#Percentage Joined
PercentJoined = y/x
PercentJoined

0.8130072262367982

In [30]:
#Merging the datasets
df = pd.merge(JS,data)
df

,Candidate_Ref,Status,Sno,DOJ_Extended,Duration_to_accept_offer,Notice_Period,Offered_Band,Percent_hike_expected_in_CTC,Percent_hike_offered_in_CTC,Percent_difference_CTC,Joining_Bonus,Candidate_relocate_actual,Gender,Candidate_Source,Rex_in_Yrs,Location_ID,Postal_Code,Age,LOB_Id,Domicile_Id
0,2110407,Joined,1,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,L001,201301,34.0,1,D6
1,2112635,Joined,2,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,L002,600020,34.0,2,D9
2,2112838,Joined,3,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,L001,201301,27.0,2,D10
3,2115021,Joined,4,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,L001,201301,34.0,2,D3
4,2115125,Joined,5,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,L001,201301,34.0,2,D21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8990,3822427,Joined,12319,No,4,0,E1,191.67,191.67,0.00,No,No,Male,Employee Referral,1,L002,600020,34.0,1,D21
8991,3828206,Joined,12327,Yes,2,0,E1,150.00,150.00,0.00,No,No,Female,Direct,3,L002,600020,34.0,4,D9
8992,3834159,Joined,12331,No,0,0,E2,35.42,35.42,0.00,No,No,Male,Direct,5,L001,201301,34.0,2,D18
8993,3835433,Joined,12332,No,0,30,E1,76.92,53.85,-13.04,No,No,Male,Direct,4,L001,201301,34.0,2,D2
8994,3836076,Joined,12333,No,2,0,E1,45.25,14.09,-21.45,No,No,Female,Employee Referral,1,L002,600020,34.0,2,D3